{% extends 'html/base.html' %}
{% load static %}

{% block content %}

  <!-- ----- Body | Image Slider ----- -->
<div id="slider">
  <figure>
    <img src="{% static 'img/argbg.jpg' %}">
    <img src="{% static 'img/juv.jpg' %}">
    <img src="{% static 'img/mad.jpg' %}">
    <img src="{% static 'img/juv.jpg' %}">
    <img src="{% static 'img/argbg.jpg' %}">
  </figure>
</div>


<!-- ----- Club Jerseys ----- -->
<div class="small-container">
  <h2 class="title">Club Jerseys</h2>
  <div class="row">
    {% for jersey in jerseys %}
    <div class="col-4">
      <img src="{{jersey.image.url}}" alt="">
      <h4>{{jersey.title}}</h4>
      <p>{{jersey.price}}</p>
      {% if jersey.availability == False %}
      <p class="stock">Out of Stock</p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="btn"><a class="forward" href="{% url 'club' %}">See more</a></div>
</div>

<!-- ----- National Team Jerseys ----- -->
<div class="small-container">
  <h2 class="title">National Team Jerseys</h2>
  <div class="row">
    {% for jersey in NTjerseys %}
    <div class="col-4">
      <img src="{{jersey.image.url}}" alt="">
      <h4>{{jersey.title}}</h4>
      <p>{{jersey.price}}</p>
      {% if jersey.availability == False %}
      <p class="stock">Out of Stock</p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="btn"><a class="forward" href="../html/products.html">See more</a></div>
</div>

{% endblock %}

