<nav class="header">
  <!-- ----- Search Box ----- -->
  <div class="search-container">
    <div class="search_wrap search_wrap_1">
      <form class="search_box" method="GET" action="{% url 'search_results' %}">
        {% csrf_token %}
        <input type="text" class="input" placeholder="search..." name="searched">
        <button class="btn-3 btn_common" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <div class="btn-4">
      <a class="signIn" href="#"><i class="fas fa-sign-in-alt"></i>Sign In</a>
    </div>
  </div>

  <!-- ----- Navigation Menu ----- -->
  <div class="wrapper">
    <div class="navbar">
      <div><a class="logo" href="{% url 'home' %}">JerseyShop</a></div>
      <nav>
        <ul class="nav-links">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>
            <a href="{% url 'club' %}" class="desktop-item">Clubs</a>
            <label for="showMega" class="mobile-item">Clubs</label>
            <div class="mega-box">
              <div class="content">

                <div class="row-1">
                  <div class="col-1">
                    <ul class="mega-links">
                      <li><a href="#">Real Madrid</a></li>
                      <li><a href="#">Barcelona</a></li>
                      <li><a href="#">Manchester United</a></li>
                      <li><a href="#">Chelsea</a></li>
                      <li><a href="#">Bayern Munich</a></li>
                      <li><a href="#">AC Milan</a></li>
                      <li><a href="#">Juventus</a></li>
                      <li><a href="#">Chelsea FC</a></li>
                    </ul>
                  </div>
                </div>

                <div class="row-1">
                  <div class="col-1">
                    <ul class="mega-links">
                      <li><a href="#">Paris Saint-Germain</a></li>
                      <li><a href="#">Inter Milan</a></li>
                      <li><a href="#">Manchester City</a></li>
                      <li><a href="#">Arsenal</a></li>
                      <li><a href="#">Liverpool</a></li>
                      <li><a href="#">Atlectico Madrid</a></li>
                      <li><a href="#">Borussia Dortmund</a></li>
                      <li><a href="#">Tottenham</a></li>
                    </ul>
                  </div>
                </div>

                <div class="row-1">
                  <div class="col-1">
                    <ul class="mega-links">
                      <li><a href="#">Real Madrid</a></li>
                      <li><a href="#">Barcelona</a></li>
                      <li><a href="#">Manchester United</a></li>
                      <li><a href="#">Chelsea</a></li>
                      <li><a href="#">Bayern Munich</a></li>
                      <li><a href="#">AC Milan</a></li>
                      <li><a href="#">Juventus</a></li>
                      <li><a href="#">Chelsea FC</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="link">
                <a href="" class="btn-2">Shop Clubs<a>
              </div>

            </div>
          </li>
          <li>
            <a href="{% url 'country' %}" class="desktop-item">National Teams</a>
            <label for="showMega" class="mobile-item">National Teams</label>
            <div class="mega-box">
              <div class="content">

                <div class="row-1">
                  <div class="col-1">
                    <ul class="mega-links">
                      <li><a href="#">Netharlands</a></li>
                      <li><a href="#">Belgium</a></li>
                      <li><a href="#">Mexico</a></li>
                      <li><a href="#">Bangladesh</a></li>
                      <li><a href="#"></a></li>
                      <li><a href="#"></a></li>
                      <li><a href="#"></a></li>
                      <li><a href="#"></a></li>
                    </ul>
                  </div>
                </div>

                <div class="row-1">
                  <div class="col-1">
                    <ul class="mega-links">
                      <li><a href="#">Argentina</a></li>
                      <li><a href="#">Brazil</a></li>
                      <li><a href="#">Spain</a></li>
                      <li><a href="#">France</a></li>
                      <li><a href="#">Portugal</a></li>
                      <li><a href="#">Italy</a></li>
                      <li><a href="#">Chile</a></li>
                      <li><a href="#">Germany</a></li>
                    </ul>
                  </div>
                </div>

                <div class="row-1">
                  <div class="col-1">
                    <ul class="mega-links">
                      <li><a href="#">Argentina</a></li>
                      <li><a href="#">Brazil</a></li>
                      <li><a href="#">Spain</a></li>
                      <li><a href="#">France</a></li>
                      <li><a href="#">Portugal</a></li>
                      <li><a href="#">Italy</a></li>
                      <li><a href="#">Chile</a></li>
                      <li><a href="#">Germany</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="link">
                <a href="" class="btn-2">Shop National Teams<a>
              </div>
            </div>
          </li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Account</a></li>
        </ul>
      </nav>
      <a class="cart" href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a>

      <p id="cart-total">0</p>
      <!--        <div class="burger">-->
      <!--            <div class="line"></div>-->
      <!--            <div class="line"></div>-->
      <!--            <div class="line"></div>-->
      <!--        </div>-->
    </div>
  </div>
</nav>